body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 26px;
    color: #343a40;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #c82333;
}

.loading-message {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-label {
    color: #333;
    font-weight: bold;
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.date-input {
    width: 65%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.time-input {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: center;
}

.small-input {
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #34495e;
    color: #1abc9c;
    font-size: 20px;
    font-weight: bold;
}

.form-value {
    color: #1abc9c;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.validation-message {
    color: red;
}

button.sticky-button {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    bottom: 50px; /* Adjust margin from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    z-index: 1000;
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px; /* Rounds the corners */
    cursor: pointer;
    font-size: 16px;
    width: 15%;
    text-align: center;
    transition: background-color 0.3s;

}

/* CSS */
#loadingMessage {
    text-align: center;
    font-size: 1.2em;
    background-color: #f8f9fa; /* Light background to ensure it's visible */
    padding: 20px; /* Add some padding for better visibility */
    border-radius: 8px; /* Optional: rounded corners for aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: subtle shadow for better visibility */
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingText {
    margin-top: 10px;
    font-weight: bold;
}


button.sticky-button:hover {
    background-color: #0056b3; /* New background color on hover */
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
        box-shadow: none;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-label {
        width: 100%;
        text-align: left;
        padding-right: 0;
        margin-bottom: 5px;
    }

    .date-input {
        width: 100%;
    }

    .time-input {
        width: 100%;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    #searchBar {
        font-size: 14px;
        padding: 10px;
    }

    table, th, td {
        font-size: 12px;
        padding: 10px;
    }
}